<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NET Framework, Version=v4.6.1" />
    </startup> 
    <connectionStrings> 
        <add name="SqlCon" connectionString = "Data Source=localhost; Initial Catalog=dbTrainee HandsOn; Integrated Security=true"/> 
    </connectionStrings> 
</configuration>Q